html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  list-style: none;
  padding: 33px 20px;
}

.header-list li a {
  color: #fff;
  text-decoration: none;
}

.copy-container {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 50px;
}

.copy-container span {
  color: #ff4a4a;
}

.copy-container h2 {
  font-size: 35px;
}

.contents {
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contents h3 {
  width: 100%;
  font-size: 28px;
  padding-bottom: 35px;
  border-bottom: 2px solid #dee7ec;
}

.contents-item {
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 30px;
  float: left;
}

.contents-item img {
  width: 240px;
}

.contents-item p {
  font-size: 24px;
  padding-top: 30px;
  text-align: center;
}

.contents-form {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.contents-form h3 {
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee7ec;
}

.contents-form p {
  margin-bottom: 10px;
  padding-top: 30px;
}

.contents-form input, textarea {
  width: 400px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  padding: 20px;
}

.contents-submit {
  color: #889eab;
  background-color: #dee7ec;
}

.footer {
  margin-top: 130px;
  height: 120px;
  padding: 40px;
  background-color: #2f5167;
  color: #fff;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-logo a {
  color: #fff;
  text-decoration: none;
}

.footer-list {
  float: right;
}

.footer-list {
  padding-bottom: 20px;
}

.contents-test {
  float: left;
}

.title {
    color: #02ccba;
  }
